<h1>Ingrese su producto</h1>
<form onsubmit="newProduct()">
    <label for="title">Nombre del producto</label>
        <input id="title" type="text " name="title"><br>
    <label for="price">Precio del producto</label>
        <input id="price" type="number " name="price"><br>
    <label for="thumbnail">Imagen del producto</label>
        <input id="image" type="url" name="thumbnail"><br>
    <button type="submit">Enviar producto</button><br>
</form>

    <table >
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Title</th>
                <th scope="col">Price</th>
                <th scope="col">Thumbnail</th>
            </tr>
        </thead>
        <tbody id="table-body">
            <!--Contenido de los productos por sockets-->
        </tbody>
    </table>

    <h1>Centro de mensajes</h1>
    <form onsubmit="newMessage()">
        <label for="usuario">Usuario</label>
        <input type="text" id="usuario" name="usuario">
        <label for="mensaje">Escriba su mensaje</label>
        <input type="text" id="mensaje" name="mensaje">
        <button type="submit">Enviar Mensaje</button><br>
    <div id="chat">
        <!--Contenido del chat-->
    </div>
    </form>

    


